body{
    font-family: 'Caveat', cursive;
    font-size: 36px;
    font-weight: 400;
    background-image: url("../img/watercolor.png");
    background-size: contain;
    margin: 0;   
}

header h1 {
    height: 200px;
    width: 100%;
    margin-top: 0;
    position: relative;
    background: linear-gradient(#B8A6B2, #e75480);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;

    
}


h1 {
    text-align: center;
    position: absolute;
    width: 100%;
}

#css {
    color: yellow;
    font-family: 'Odibee Sans', cursive;
  }
  
  .carousel-wrapper {
    height: 400px;
    position: relative;
    width: 800px;
    display: block;
    margin: 50px auto ;
    border: 2px solid rgb(184, 166, 178);
    border-radius: 25px;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid rgb(166, 216, 27);
    border-width: 0 5px 5px 0;
    border-radius: 10px;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('../img/img1.jpg');
    background-size: cover;
    background-position: 100%;
    border-radius: 25px; 
  }
  .item-2 {
    background: url('../img/img2.jpg');
    background-size: cover;
    background-position: 100%;
    border-radius: 25px; 
  }
  .item-3 {
    background: url('../img/img3.jpg');
    background-size: cover;
    background-position: 100%; 
    border-radius: 25px;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  } 

  .link:link{
      text-decoration: none;
      color: rgb(255,222,0);
      font-weight: 400;
      background-color: #e75480;
      opacity: 0.6;
      border-radius: 25px;
  }

  .link:visited{
    text-decoration: none;
    color: 	rgb(154,205,50);
    font-weight: 400;
    border-radius: 25px;
}

.link:hover{
    text-decoration: none;
    background-color: #e75480;
    border-radius: 25px;
    opacity: 1;
    border-radius: 25px;
}

.wrapper img {
    border-radius: 25px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#ptag, #h1_id {
    color: #e75480;
    font-size: larger;
    font-weight: 400;
    text-align: center;
}

ul {
    text-align: center;
    list-style: inside;
    list-style-image: url('../img/my_icon.png');
    padding-top: 150px;

}

li {
     text-align:center; 
     list-style-position:inside;
    
    }


ol {
    text-align: center;
    list-style: inside;
    list-style-type: lower-alpha;
    padding-top: 150px;
    margin-left: 50px;
    margin-right: 50px;

}

